
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #333;
    padding: 20px;
}

h1 {
    color: #ff6347;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

ul, ol {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

li {
    margin: 5px 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}
